# Copy to .env and adjust as needed
#Yellowfin Installer Properties
JDBC_CLASS_NAME                     =The java class file for the repository database JDBC connection
JDBC_CONN_URL                       =The JDBC connection string for the repository database
JDBC_CONN_USER                      =The JDBC user for the repository database
JDBC_CONN_PASS                      =The JDBC password for the repository database (can be encrypted)
APP_MEMORY (Optional)               =Set maximum memory for application (in MB). 
LOG_LEVEL (Optional)                =Set logfile verbosity. Options: INFO/DEBUG/ERROR/WARN/TRACE
JDBC_CONN_ENCRYPTED (Optional)      =Whether the database password is encrypted or not. Defaults to false
JDBC_MAX_COUNT (Optional)           =Maximum connection pool size for the repository database connection pool. Defaults to 25
WELCOME_PAGE (Optional)             =The default landing page for the application. Defaults to index_mi.jsp
APP_SERVER_PORT (Optional)          =The HTTP port for the application. Defaults to 8080
APP_SHUTDOWN_PORT (Optional)        =The shutdown port for the application. Defaults to 8083
PROXY_PORT (Optional)               =External proxy port
PROXY_SCHEME (Optional)             =External proxy scheme (http or https)
PROXY_HOST (Optional)               =External proxy address
SECURE_ENABLED (Optional)           =Enable secure=true in tomcat connector configuration
SAMESITE_COOKIE_MODE (Optional)     =Set Same-Site cookie mode. Options: unset/none/lax/strict   Default: none
CLUSTER_ADDRESS (Optional)          =Set cluster communication TCP address for node
CLUSTER_PORT (Optional)             =Set cluster communication TCP port. Unique for this container. 
CLUSTER_INTERFACE (Optional)        =Set cluster communication network interface. Default: eth0
NODE_BACKGROUND_TASKS (Optional)    =Define the types of background tasks that can run on this cluster node
NODE_PARALLEL_TASKS (Optional)      =Define the number of parallel task that can run on this cluster node
LIBRARY_ZIP (Optional)              =Deploy additional file assets into the application server library folder from a specific URL
CONTENT_ZIP (Optional)              =Deploy additional file assets into the application server folder structure from a specific URL
SKIP_OS_PACKAGE_UPGRADE (Optional)  =Skip operating system package upgrades on node startup

#Container and Image Settings
TZ=timezone_region/city
APP_VERSION=application_version
APP_BUILD=application_build_number
CONTAINER_REPO=image_repo
CONTAINER_GROUP=project_name
CONTAINER_IMAGE=image_name
CONTAINER_TAG=image_tag
REPO_USERNAME=repo_username
REPO_PASSWORD=repo_password/personal_access_token
CONTAINER_NAME=container_name
CONTAINER_RESTART=restart_policy
CONTAINER_COUNT=2
HOST_PORT=9000

#Container Repository Settings
CONTAINER_REPO=repository_name
REPO_USERNAME=repository_username
REPO_PASSWORD=repository_password_or_token
#REPO_TAG=latest # Optional repo tag, defaults to CONTAINER_TAG